[Unit]
Description=[JAX] jaxnetd
Wants=network-online.target
After=network-online.target

[Service]

Restart=on-failure
Type=simple
WorkingDirectory=/var/jaxnetd/
ExecStart=/usr/bin/jaxnetd -C /etc/jaxnet/jaxnetd.yaml
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=jaxnetd


[Install]
WantedBy=multi-user.target
